// COLORS
$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-light-1: #f9f5f3;
$color-grey-light-2: #f2efee;
$color-grey-light-3: #d3c7c3;

$color-grey-dark-1: #615551;
$color-grey-dark-2: #918581;

// GRADIENT
$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

// BREAKPOINTS
$bp-large: 78.15em;
$bp-medium: 61.25em;
$bp-small: 37.5em;

// RESET
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.6;
  color: $color-grey-dark-1;
  background-image: $gradient;
  min-height: 100vh;
}

// APP CONTAINER
.container {
  max-width: 120rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba($color-grey-dark-1, 0.2);

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 10rem auto;
  grid-template-areas:
    'head head'
    'results movie';
}
