%btn {
  background-image: $gradient;
  border-radius: 10rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.btn {
  @extend %btn;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
}

.btn--inline {
  background: none;
  border: none;
  color: $color-primary;
  font-size: 1.4rem;
  cursor: pointer;

  &:hover {
    color: $color-grad-2;
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;
  font-size: 2rem;
}
