.movie {
  grid-area: movie;
  padding: 4rem;

  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__meta {
    font-size: 1.4rem;
    color: $color-grey-dark-2;
    margin-bottom: 2rem;
  }

  &__poster {
    width: 20rem;
    margin-bottom: 2rem;
  }

  &__plot {
    font-size: 1.6rem;
  }
}
